{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_('Atentus Recovery Pass') }}{% endblock %}

{% block branding %}
<h1 style="display:none">{{ site_header|default:_('Atentus') }}</h1>
{% endblock %}

{% block breadcrumbs %}
    <div style="background-color:#f47001;color:white;height:30px;text-align:center;">
        {% trans 'Cambia password' %}
    </div>
{% endblock %}

{% block content %}
    <div id="form_recovery" style="text-align:center">
        <form action="{{ mailPass }}" method="post">{% csrf_token %}
            <p>Su Clave ha sido cambiada: <strong>{{ name }} </strong></p>
            <p>Un Correo confirmara este cambio</p>
            <fieldset class="module aligned">
            </fieldset>
        </form>
    </div>

 <script type="text/javascript">
    document.getElementById("header").style.display = "none";
    setTimeout(function() {
        window.location.href = 'https://reporte2.atentus.com/';
    }, 2000);
</script>
<style>
    p {
        font-family: Arial,Helvetica, sans-serif
    }
</style>
{% endblock %}
